---
import SectionHighlight from '@/components/SectionHighlight.astro';
import { Stories } from '@/data/story_data';
---

<div
  class="bg-white caret-transparent flex w-screen items-center justify-center"
>
  <div class={`section-y_padding-lg flex flex-col custom-section-width`}>
    <div class="lg:justify-start justify-center flex w-full ">
      <SectionHighlight>Captured In Film</SectionHighlight>
    </div>
    <h1 class="lg:text-start text-center font-bold text-5xl leading-[120%] tracking-[-1%]">Featured Stories</h1>
    <h2 class="mt-5 text-custom-font-gray font-normal text-base leading-[150%]">
      Travel narratives captures on analog film, documenting moments of beauty
      and discovery around the world.
    </h2>
    {/* Stories */}
    <div
      class="w-full h-full mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10"
    >
      {
        Stories.map((story) => (
          <div class={`w-full`}>
            <img
              src={story.imgUrl}
              alt="Story Image"
              class="w-full aspect-video object-cover rounded-2xl"
              loading="lazy"
            />
            {/* Country name and reading duration */}
            <div class="lg:px-0 pr-8 mt-4 flex flex-row justify-between text-base font-medium">
              <div class="flex">
                <img src="/map_icon.svg"/>
                <h3 class="ml-2 font-normal text-base leading-[150%]">{story.country}</h3>
              </div>
              <h3 class="font-normal text-base leading-[150%]">{story.read_time} min read</h3>
            </div>
            <h2 class="mt-4 font-semibold text-2xl">{story.title}</h2>
            <h3 class="mt-2 font-normal text-base text-custom-font-gray">
              {story.description}
            </h3>
          </div>
        ))
      }
    </div>

    {
      /* <button onClick={()=>{}} class="px-10 py-3 rounded-xl">
          View All Posts
      </button> */
    }
  </div>
</div>
